*{
    /* padding: 0%; */
    margin: 0;
    

}
.saidbar-container{
margin-top: 100px;
    height:100%;
    position: fixed;
    background-color: #042331;
    /* border-radius:  0 10px; */
}
.saidbar-container p{
    font-size: 10px;
}
.custom-file{
    background:url('/src/images/user.jfif')center #ffbc29 ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  
}
.sidebar-pages{
border-bottom: 1px solid rgb(9, 9, 9,0.2);
}
.sidebar-pages:hover{
    padding-left: 2px;
    transition: 5sc;
    
    
}